@font-face {
    font-family: "publicpixel" ;
    src: url(../font/PublicPixel-z84yD.ttf);
}



/* *{border: 1px solid black;} */
*{
    user-select: none;
}
body{
    min-width: 1120px;
}

#contenedor{
    width: fit-content;
    margin: auto;
    perspective: 1000px;
    margin-top: 150px;
}
#contenedorPantalla{
    margin: auto;
    width: 939px;
    background-color: grey;
    padding: 10px;
    padding-top: 0px;
    border: 5px solid black;
    margin-bottom: -68px;
    perspective: 1000px;
    rotate: 1 0 0 -135deg;
    position: relative;
    z-index: 999999 !important;
    transform-origin: bottom;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: all 1s linear;
    font-size: x-small;
}
#marcoPantalla3d{
    background-color: rgb(0, 0, 0);
    width: 968px;
    margin-left: -15px;
    height: 40px;
    rotate: 1 0 0 65deg;
    position: absolute;
    top: -30px;
    transform: translate3d(1px,-18px,-5px);
    transform-style: preserve-3d;

}
#pantallaDetras{
    width: 963px;
    height: 370px;
    rotate: 1 0 0 -66deg;
    position:absolute;
    bottom: 0;
    backface-visibility: visible;
    transform: translate3d(0px,248px,136px);
    border: 3px solid black;
    background-image: url(../img/Pear_Blue_Logo.png),linear-gradient(grey, rgb(189, 189, 189));;
    background-repeat: no-repeat;
    background-position: center;
}
span{
    border-radius: 55%;
    background-color: black;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-left: 40%;
}
#pantalla{
    height: 310px;
    border: 2px solid black;
    padding: 10px;
    background-color: green;
    overflow-y: hidden;
    backface-visibility: hidden;
}
body:hover #contenedorPantalla{
    /* rotate: 1 0 0 0deg; */
    transition: all 1s linear;
}
#textoPantalla{
    display: inline;
    vertical-align: top;
    margin-right: -2px;
    font-size: 23.2px;
    font-family: 'publicpixel';
    text-shadow: 3px 3px rgb(1, 94, 1);
    white-space: nowrap;
}
#cursor{
    background-color: rgb(0, 0, 0);
    width: 2px;
    height: 20px;
    vertical-align: bottom;
    display: inline-block;
    margin: 0;
}
#cursor{animation: blink 1s step-start infinite;}
@keyframes blink {50% {opacity: 0.3;}}

#teclado{
    margin: auto;
    width: fit-content;
    font-size: 25px;
    font-weight: bold;
    rotate: 1 0 0 45deg;
    background-color: rgb(135, 147, 151);
    padding-bottom: 10px;
    border: 3px solid black;
    margin-bottom: 30px;
    padding-top: 10px ;
}
#decorador{
    perspective: 1000px;
    height: 0;
}

#decorador>div{
    background-color: rgb(135, 147, 151);
    border: 3px solid black;
    height: 23px;
    position: relative;
    bottom: -5px;
    left:2px;
    width: 99%;
    rotate: 1 0 0 -45deg;
}

.fila{
    display: block;
    margin: 5px;
}
.fila >div{
    display:inline-block;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border: 1px solid black;
    border-bottom: 10px solid black ;
    border-left: 3px solid black;
    border-right: 5px solid black;
    background-color: white;
}
.fila>div:active, .fila>div.activado{
    background-color: grey;
    border: 10px solid black;
    border-bottom: 1px solid black ;
    border-left: 3px solid black;
    border-right: 5px solid black;
    vertical-align: bottom;
}
.corta{
    width: 79px !important;
}
.media{
    width: 90px !important;
}
.larga{
    width: 120px !important;
}
.muyLarga{
    width: 173px !important;
}
.space{
    width: 420px !important;
}

#enter{
    width: 90px !important;
}
#enter >div{
    background-color: gray;
    height: 75px;
    width: 60px;
    float: right;
    border: 1px solid black;
    border-top: 0px solid black;
    margin: -5px;
    margin-top: 0px;

    border-top: 0px;
    border-bottom: 10px solid black ;
    border-left: 3px solid black;
    border-right: 5px solid black;
}
#enter:active>div, #enter.activado>div{
    border-bottom: 1px solid black ;
    border-left: 3px solid black;
    border-right: 5px solid black;
}
.especial{
    background-color: gray !important;
    font-size: 20px !important;
}
.especial:Active, .especial:active>div, .especial.activado, .especial.activado>div{
    background-color: rgb(63, 63, 63) !important;
}

#visualizacionALternativaTecla{
width: 11px;
height: 11px;
}